h3{
  padding-left: 10px;
}
h5{
  padding-left: 15px;
  margin-top: 0px;
}
img{
  padding: 5px;
  
}
#nav-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  
}

#card-grid{
  margin: 0 !important;
  padding: 0 !important;
}

