<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-slides pager="true">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div id="nav-buttons">
    <span><ion-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    </span>
    <span><ion-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    </span>
    <span><ion-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    </span>
    <span><ion-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    </span>
  </div>
  <div>
  <h3>Featured Facts</h3> 
  <ion-grid id="card-grid">
    <ion-row>
      <ion-col size="6">
        <img src="https://thumbs.dreamstime.com/b/history-magnifying-glass-focused-word-36388781.jpg">
        <h5>History</h5>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
        </ion-card>
        <h5>People</h5>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
        </ion-card>
        <h5>Animals</h5>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
  </div>
</ion-content>
